div(ng-controller="RootLoadingAnimationController", class="loadingAnimationContainer")
    div(class="transparent-site-lock ng-cloak" ng-show="loadingAnimationServiceData.rootLockActive")
        span &nbrs
    div(class='ajax-loader-root ng-cloak', ng-show="loadingAnimationServiceData.rootLoadingAnimationActive")
        div(id="inTurnBlurringTextG")
            div(id="inTurnBlurringTextG_1", class="inTurnBlurringTextG") L
            div(id="inTurnBlurringTextG_2", class="inTurnBlurringTextG") a
            div(id="inTurnBlurringTextG_3", class="inTurnBlurringTextG") z
            div(id="inTurnBlurringTextG_4", class="inTurnBlurringTextG") y
            div(id="inTurnBlurringTextG_5", class="inTurnBlurringTextG") N
            div(id="inTurnBlurringTextG_6", class="inTurnBlurringTextG") e
            div(id="inTurnBlurringTextG_7", class="inTurnBlurringTextG") t
            div(id="inTurnBlurringTextG_8", class="inTurnBlurringTextG") w
            div(id="inTurnBlurringTextG_9", class="inTurnBlurringTextG") o
            div(id="inTurnBlurringTextG_10", class="inTurnBlurringTextG") r
            div(id="inTurnBlurringTextG_11", class="inTurnBlurringTextG") k
            div(id="inTurnBlurringTextG_12", class="inTurnBlurringTextG") .
            div(id="inTurnBlurringTextG_13", class="inTurnBlurringTextG") .
            div(id="inTurnBlurringTextG_14", class="inTurnBlurringTextG") .